body{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: black;
    font-family: 'Open Sans', sans-serif;  
}


.container{
    width: 90%;
    margin: auto; 
    color: blanchedalmond;
    max-width: 700;
    font-size: 18px;
    top: 60%;
    left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
         
}

section{
    padding: 30px 0;
}

section .container{
    display: flex;
    justify-content: space-between;
    alingn-items: center;

}

.logo{
    color: red;
    font-family:Arial, Helvetica, sans-serif
    margin: 50px;
}

.activo{
    color:rgb(175, 189, 199);
    
}

.seconds{
    color: white;
}


.buttons-container{
    height: 45px;
    position:absolute;
    top: 50%;
    margin: 15px;
    
    color: whitesmoke;
}
.principal{
    margin: 90;   
    
  

}

.imag{
    display: flex;
    width: 350px;
    height: 250px;
    justify-content: flex-start;
    gap: 7px;
    margin:0 5px; 
    position:inherit;
}






